*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 1%;

    border: 1px solid;
    border-radius: 20px;
    
    
}